@import "../../modules/variables";
@import "../../modules/classes";
@import "../../modules/mixins";

.bg-color {
  .container {
    @extend %container;
    .underline {
      @extend %line;
      &:first-child {
        margin-bottom: 40px;
      }
      &:last-child {
        margin-top: 40px;
      }
    }
    .wrapper-block {
      @include display(flex);
      justify-content: space-between;
      .avatar-box {
        max-width: 330px;
        width: 100%;
        .avatar {
          margin-bottom: 20px;
        }
        p {
          @include text-property(24px, $roboto, $black, none);
          font-weight: $bold;
          line-height: 34px;
        }
      }
      .article-box {
        @include display(flex);
        p {
          @include text-property(14px, $roboto, $grey3, none);
          font-weight: $regular;
          line-height: 26px;
          width: 310px;
        }
        div {
          margin-left: 40px;
          p {
            margin-bottom: 20px;
          }
          .time {
            @extend %timerDiv;
            margin-left: 0;
            .bx-time-five {
              @extend %timerIcon;
            }
            span {
              @extend %timeAgo;
            }
          }
        }
      }
    }
  }
}