// Colors
$pink: #FA6980;
$black: #343638;
$grey: #F6F8F9;
$white: #FFFFFF;

// Text transforms
$upper: uppercase;
$lower: lowercase;
$capit: capitalize;

// Font family
$roboto: 'Roboto', sans-serif;

// Font weights
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$blackFont: 900;