// Colors
$pink: #FA6980;
$dark-pink: #ff435f;
$black: #202124;
$grey: #F6F8F9;
$grey1: #EBEDED;
$grey2: #707070;
$grey3: #A6ADB4;
$grey4: #CBD0D3;
$grey5: #575F66;
$white: #FFFFFF;
$shadowColor: #222222;
$twitterColor: #1DA1F2;
$facebookColor: #4267B2;

// Text transforms
$upper: uppercase;
$lower: lowercase;
$capit: capitalize;

// Font family
$roboto: 'Roboto', sans-serif;

// Font weights
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$blackFont: 900;