@import "../../modules/variables";
@import "../../modules/classes";
@import "../../modules/mixins";

.parent-block {
  @include display(flex);
  .right-box {
    @include size(700px, 100%, 556px);
    position: relative;
    .nature-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .container {
      max-width: 490px;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      .text-content {
        h2 {
          @include text-property(24px, $roboto, $white, $upper);
          font-weight: $bold;
          line-height: 42px;
          &::after {
            content: "";
            display: block;
            width: 100%;
            height: 2px;
            background-color: $white;
            border-radius: 2px;
            margin: 20px 0 30px 0;
          }
        }
        h4 {
          @include text-property(24px, $roboto, $white, none);
          font-weight: $bold;
          line-height: 34px;
        }
        p {
          @include text-property(16px, $roboto, $white, none);
          line-height: 25px;
          margin-bottom: 25px;
        }
        .learn-more {
          position: relative;
          width: 134px;
          height: 40px;
          background-color: $pink;
          border: none;
          border-radius: 6px;
          .learn-link {
            @include text-property(11px, $roboto, $white, $upper);
            font-weight: $bold;
            line-height: 20px;
            letter-spacing: 1px;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
	          height: 100%;
            @include display(flex);
            @include flex-property(center, center);
          }
        }
      }
    }
  }
}