@import "../../modules/variables";
@import "../../modules/classes";
@import "../../modules/mixins";

body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background-color: $grey;
}
body::-webkit-scrollbar-thumb {
  background-color: $pink;
  border-radius: 5px;
}

header {
  background-color: $grey;
  .top-mobile-header {
    @include display(flex);
    @include flex-property(space-between, center);
    display: none;
    #clock {
      @include text-property(14px, $roboto, $black, none);
      font-weight: $medium;
    }
    .networks-box {
      @include display(flex);
      .network-img {
        height: 11px;
        &:first-child { width: 17px; }
        &:nth-child(2) {
          width: 16px;
          margin: 0 5px;
        }
        &:last-child { width: 24px; }
      }
    }
  }
  .header-container {
    @include display(flex);
    @include flex-property(space-between, center);
    padding: 10px 20px;
    .logo-name {
      @include text-property(15px, $roboto, $pink, $upper);
      font-weight: $bold;
      line-height: 20px;
    }
    .flex-box {
      @include display(flex);
      align-items: center;
      nav {
        ul {
          @include display(flex);
          li {
            margin-right: 25px;
            &:last-child {
              margin-right: 40px;
            }
            .nav-link {
              @include text-property(12px, $roboto, $black, $upper);
              font-weight: $bold;
              line-height: 20px;
            }
            .opacity {
              opacity: 50%;
              @include transition(all, 350ms, ease);
              &:hover {
                opacity: 100%;
              }
            }
          }
        }
      }
    }
  }
}